terraform {
  required_version = ">= 1.5"

  required_providers {
    # aws = {
    #   source  = "hashicorp/aws"
    #   version = "~> 5.0"
    # }
  }

  # backend "s3" {
  #   bucket = "..."
  #   key    = "{{PROJECT_NAME}}/{{ENV}}/terraform.tfstate"
  #   region = "us-east-1"
  # }
}

module "example" {
  source      = "../../modules/example"
  environment = var.environment
}
